<%- include ../header.ejs %>
    <div class="categories-wrapper">
        <div class="container-fluid">
            <div class='container px-0 '>
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb bg-white px-0">
                        <% results.forEach((test) => {                      
                            if(test.parent_category_id=="root" ){ %>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a href="/<%= test.id%>/:<%= test.id%>">
                                    <%= test.name%>
                                </a>
                            </li>
                            <%}else if(test.parent_category_id==="womens" || test.parent_category_id==="mens"){
                                var capitalized = test.parent_category_id[0].toUpperCase() +test.parent_category_id.slice(1);%>

                                <li class="breadcrumb-item active" aria-current="page">
                                    <a href="/">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <a href="/<%=test.parent_category_id%>/:<%=test.parent_category_id%>">
                                        <%=capitalized%>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <a href="/<%= test.id%>/:<%= test.id%>">
                                        <%= test.name%>
                                    </a>
                                </li>
                                <%}
                            });%>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="container-fluid">
            <div class='container'>
                <% results.forEach((test) => { %>
                    <div class="row">
                        <div class="col-12">
                            <h3>
                                <%=test.page_title%>
                            </h3>
                        </div>
                        <div class="col-12 pb-5">
                            <%=test.page_description%>
                        </div>
                    </div>
                    <%});%>
            </div>
        </div>
        <div class="container-fluid">
            <div class='container'>
                <% results.forEach((test) => { %>
                    <% test.categories.forEach((category) => { %>
                        <div class="card mb-3 border-dark rounded-lg">
                            <%if(category.image!=null) { %>
                                <img class="card-img-top" src="/images/<%= category.image%>" alt="Card image cap">
                                <% } %>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= category.page_title%>
                                        </h5>
                                        <p class="card-text">
                                            <%= category.page_description %>
                                        </p>
                                        <a href="/<%= category.id%>/:<%= category.id%>" class="btn btn-primary">View more</a>
                                    </div>
                        </div>
                        <%});%>
                            <%});%>
            </div>
        </div>
    </div>

    <%- include ../footer.ejs %>